*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.button{
    margin: 50px;
    display: block;
    color: #fff;
    text-decoration: none;
    padding:  20px 0;
    text-align: center;
    width: 200px;
    transition: 1s all;
}

.btn-blue + .btn-tomato{
    /* esto hace referencia al hermano adyacente, pero solo al hermano de btn-blue */
    background-color: black;
}



.btn-red{
    background-color: #e74c3c;
}


.btn-red:hover{
    transform: scale(1.2);
}

.btn-blue{
    background-color: #3498db;
}

.btn-tomato{
    background-color: tomato;
}

.btn-tomato:active{
    font-size: 30px;
}


.btn-red + *{
    /* esto hace referencia al hermano adyacente */
    background-color: green;
}

/* .btn-blue:hover + .btn-red{
    background-color: yellow;
} */

.btn-blue:hover ~ .btn-red{
    /* esto hace referencia a todos los hermanos con la misma clase */
    transform: translate(100%);
}

.element{
    width: max-content;
    padding: 20px;
    background-color: steelblue;
    color: white;
    font-size: 30px;
    margin: 60px;
} 

/* .element:hover{
    width: 300px;
}

.element:target{
    background-color:black;
    translate: 100%;
} */

.input{
    display: block;
    margin: 20px;
    padding: 16px;
    font-size: inherit;
    font-family: inherit;
}

.input:focus{
    border: 2px solid #3498db;
    color: white;
    background-color: #3498db;
}

.input:focus + .label{
    color: #3498db;
}

.label{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.check:checked + .label{
    color: red;
}