*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    min-height: 300vh;
}

.sticky{
    width: 140px;
    height: 140px;
    background-color: #ff90fb;
    position: sticky;
    top:50px
}