*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.element:hover{
    transform: translate(100%) rotate(180deg) scale(1.3) ;
}

.element{
    width: 300px;
    height: 300px;
    background-color: #3498db;
    margin: 60px;
    transition: 1s all;
    /* transform: translate(100px, 20px); */
    /* transform: rotate(45deg); */
    /* transform: scaleX(2) scaleY(); */
    /* transform: scale(2, 4); */
    /* transform: skew(20deg, 10deg); Ya no se recomienda usarlo solo */

    
}

/* Al usar transform no modificamos la posición de los demás elementos */
.element2{
    width: 300px;
    height: 300px;
    background-color: #db7134;

    transform: unset;
}