*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    margin-top: 70px;
    color: white;
    font-size: 60px;
    text-align: center;
}

.background{
    height: 600px;
 
    background-image: linear-gradient(rgba(255, 105, 189, 0.527), rgba(70, 131, 180, 0.527)), url('https://www.w3schools.com/w3images/paris.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: .1px;
}
